/* body {
  background-color: black;
  background-image: url(https://images5.alphacoders.com/620/thumbbig-620859.webp);
  background-repeat: no-repeat;
  background-position: 15% 0;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #fbffa2;
  margin: 0px;
  width: 100vw;
  height: 200vh;
}

.alura-logo {
  width: 40px;
  top: 8px;
  right: 8px;
  position: fixed;
}

.page-logo {
  width: 20vw;
}

.page-title {
  color: #108cef;
  width: 200px;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 12px;
}

.container {
  width: 50vw;
  height: 300px;
  background-color: darkslategray;
} */

body {
  background-color: lightblue;
}

h1 {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  border: 2px solid tomato;
}

p {
  background-color: tomato;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
